<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app ng-csp>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dualless Options</title>
</head>
<link  href="lib/bootstrap-2.0.4/css/bootstrap.min.css" rel="stylesheet">
<script src="lib/jquery-1.7.1.min.js"></script>
<script src="lib/require.js"></script>
<script src="lib/angular-1.0.1.min.js"></script>
<script src="options.js"></script>
<style>

body {
    padding-top : 60px; /* Used with bootstrap header bar*/
}

</style>
<body ng-controller="OptionsController">
    <!-- Header -->
    <div class="navbar navbar-fixed-top">
      <div class="brand">Dualless Options</div>
      <div class="navbar-inner">
      </div>
    </div>

    <div class="container">
	    <div class="hero-unit">
	        <h1>Options</h1>
            <hr></hr>
            <table class="table table-striped table-bordered">
            <tr><td><p>Pairing Mode (MacOS X Simulation)</p>
                       Pairing mode provides MacOS X like windows management. When one of the splitted windows got focused, the other in pair will be shown together. The pair of windows always occupy the viewport without missed another one.<br>
                       <br><i>Remarks: It is useless in MacOS X.</i>
                </td>
                <td><div"><ul class="nav nav-pills">
                        <li class="{{pairingButtonState[0]}}"><a ng-click="setPairingMode(1)">Enable</a></li>
                        <li class="{{pairingButtonState[1]}}"><a ng-click="setPairingMode(0)">Disable</a></li>
                    </ul>
                    </div>
                </td></tr>
            <tr><td><p>Viewport - The maximum screen size</p>
                       Viewport is the maximum space that your browser could use. Sometimes the detection may fail , especially for 
                       platform like Linux. In this case , you may press the "reset" button to restore the viewport to default value.      
                    <br>
                    <br> The current viewport is {{viewport}}</br>
                    <br><i>Remarks: Future version may allow to set custom viewport</i>   
                <td><a class="btn" ng-click="resetViewport()">Reset</a></td>
            </tr>
         </table>
            
	    </div>
    </div>

</body>
</html>
