<div class="bookmark-editor">
    <div class="bookmark-editor-icon"><img src="img/glyphicons_335_pushpin.png" width=15 height=15></div>
    <form>
    <div class="bookmark-editor-field">
        <div class="bookmark-editor-label">Title:</div>

        <div class="bookmark-editor-content">
        <input type='text' class="bookmark-editor-input" ng-model="title"></input>
        </div>
    </div>

    <div class="bookmark-editor-field">
        <div class="bookmark-editor-label">URL:</div>
        <div class="bookmark-editor-content">
        <input type='text' class="bookmark-editor-input" ng-model="url"></input>
        </div>
    </div>
    
    <div class="bookmark-editor-color-picker">
        <div ng-repeat="color in colors" class="bookmark-editor-color-grid" style="background-color:{{color}}"></div>
    </div>
    
    </form>

</div>
