.bookmark-item {
    height : 20px;   
    overflow : hidden;
}

.bookmark-item:hover {
    background-color:#eff2f7;
}

.bookmark-item-selected {
    background-color:#d8dfea;
}

.bookmark-item-grid {
    display : inline-block;    
    height : 20px;
}

.bookmark-item-color-box {
    width : 15px;
    height : 15px;
    margin-top : 2px;
}

.bookmark-item-text {
    vertical-align : text-top;
    margin-top : -6px;
}

.bookmark-item-title {
    width : 130px;
    height : 20px;
    display : inline-block;
    overflow : hidden;
}

.bookmark-item-remove-button {
    height : 20px;
    display : inline-block;
}