
.bookmark-editor {
    margin-top : 20px;
}

.bookmark-editor-disabled {
    opacity : 0.6;
}

.bookmark-editor-icon {
    margin-left : 5px;
    margin-right : -20px;
    margin-bottom : -1.2em;
    width : 15px;
    height : 15px;
}

.bookmark-editor-field {
    margin-bottom: 5px;
}

.bookmark-editor-label {
    width : 50px;
    display : inline-block;
    text-align : right;
    margin-left : 10px;
    margin-right : 5px;
}

.bookmark-editor-content {
    display : inline-block;
}

.bookmark-editor-content input{
    width : 90px;
    margin : 0px 0px 0px 0px;
}

.bookmark-editor-color-picker {
    width : 120px;
    margin-top : 15px;
    margin-left : 40px;
}

.bookmark-editor-color-grid {
    width : 15px;
    height: 15px;
    float : left;
    margin-right : 2px;
    margin-bottom : 2px;
    border-width : 3px 3px 3px 3px;
    border-color: white;
    border-style : solid solid solid solid;    
}

.bookmark-editor-color-grid:hover {
    border-color: red;
}

