    <div class="split-panel" >
        <div ng-repeat="pair in choices">
           <div class="split-panel-box">
               <div class="split-panel-label"><span>{{pair[0]}}:{{pair[1]}}</span></div>
               <div class="split-panel-screen">
                   <winbutton orientation="V" ratio="{{pair[0]}}0"
                   on-click="split(pair[0] , pair[1] ,0,$event);"
                   class="vsplit-panel-win-top"
                   >
                   </winbutton>

                   <winbutton orientation="V" ratio="{{pair[1]}}0"
                   on-click="split(pair[0] , pair[1] ,1,$event);"
                   >
                   </winbutton>

                   <!--
                <div class="split-panel-win vsplit-panel-win vsplit-panel-win-top vsplit-panel-win{{pair[0]}}0" 
                     ng-click="split(pair[0] , pair[1] ,0 ,$event);"></div> 
                <div class="split-panel-win vsplit-panel-win vsplit-panel-win{{pair[1]}}0" 
                     ng-click="split(pair[0] , pair[1] ,1,$event);"></div>
                    //-->
               </div>
          </div>          
        </div>
        
        <div class="split-panel-box">
            <div class="split-panel-label" align="center"><span>1</span></div>
            <div class="split-panel-screen">
              <!-- <div class="split-panel-win vsplit-panel-win vsplit-panel-win100" ng-click="merge()"></div>  -->
              <winbutton orientation="H" ratio="100" on-click="merge()"></winbutton>
            </div>
        </div>
        
        <div ng-include="'partials/switchmodepanel.html'"></div>
        
    </div>

