.bookmark-container {
    height : 370px;
}

.bookmark-add-link {
    width:170px;
    height:1.2em;
    overflow:hidden;
    font-weight:bold;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-size : 1.2em;
    text-decoration:underline;
}

.bookmark-footer {
    clear : both;
    positive: relative;
    z-index : 10;
    height : 2em ;
    margin-top : -2em;
    margin-bottom : 0px;
}

