.bookmark-container {
    height : 370px;
}

.bookmark-add-symbol {
    display:inline-block;
    vertical-align:middle;
    padding-bottom:3px;
    margin-right:2px
}
    
.bookmark-add-link {
    width:155px;
    height:1.2em;
    overflow:hidden;
    font-weight:bold;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-size : 1.2em;
    text-decoration:underline;
    display: inline-block;
    white-space:nowrap;
}

.bookmark-footer {
    clear : both;
    positive: relative;
    z-index : 10;
    height : 2em ;
    margin-top : -2em;
    margin-bottom : 0px;
}

