
    <div class="split-panel-box">
        <div class="split-panel-label"><span>{{param1}}:{{param2}}</span></div>
        <div class="split-panel-screen">
            <winbutton orientation="{{orientation}}" ratio="{{param1}}0" links="buttons[0]" ></winbutton>
            <div class="{{orientation | lowercase}}split-panel-spacer"></div>
            <winbutton orientation="{{orientation}}" ratio="{{param2}}0" links="buttons[1]"></winbutton>
        </div>
    </div>

<hr style="margin: 2px 0px 2px 0px">

<div style="margin:0px 0px 5px 0px" ng-show="pending" ng-click="add()">
    <div style="width:170px;height:1.2em;overflow:hidden;">[+] {{pending.title}}</div>
    <hr style="margin: 2px 0px 2px 0px">
</div>

<bookmarklist model="links" on-select="split(options)"></bookmarklist>
<bookmarkeditor model="bookmark"></bookmarkeditor>

<div ng-click="back()">Back</div>
