<div class="split-panel" >
    <div class="split-panel-box">
        <div class="split-panel-label"><span>{{param1}}:{{param2}}</span></div>
        <div class="split-panel-screen">
            <div class="split-panel-win hsplit-panel-win hsplit-panel-win{{param1}}0"></div>
            <div class="split-panel-win hsplit-panel-win hsplit-panel-win{{param2}}0"></div>
        </div>
    </div>
</div>

<hr>

<bookmarklist model="bookmark.links" on-select="split(options)"></bookmarklist>
<bookmarkeditor model="bookmark"></bookmarkeditor>
